<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courier Page</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h3>Welcome : <span th:utext="${#request.userPrincipal.name}"></span></h3>

<div class="taskList">
    <form th:action="@{/courier/notInTime}" method="post">
        <select class="form-control" id="orderCode" name="orderCode">
            <option value="">Select task for disable</option>
            <option th:each="task : ${tasks}"
                    th:value="${task}"
                    th:text="${task}">
            </option>
        </select>
        <button type="submit">Not in time</button>
    </form>
</div>


</body>

</html>
